
@font-face {
  font-family: 'icomoon';
  src:url('./fonts_second/icomoon.eot?-k8taie');
  src:url('./fonts_second/icomoon.eot?#iefix-k8taie') format('embedded-opentype'),
  url('./fonts_second/icomoon.woff?-k8taie') format('woff'),
  url('./fonts_second/icomoon.ttf?-k8taie') format('truetype'),
  url('./fonts_second/icomoon.svg?-k8taie#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-Tastemakers:before {
  content: "\e9a3";
}

.icon-Blog:before {
  content: "\e91f";
}

.icon-camera:before {
    content: "\e90f";
}

.icon-envelop:before {
    content: "\e945";
}

.icon-clipboard:before {
    content: "\e9b8";
}

.icon-reddit:before {
    content: "\eac7";
}

.icon-facebook:before {
    content: "\ea8c";
}

.icon-twitter:before {
    content: "\ea91";
}

.italic {
    font-style: italic;
}

body {
    padding: 20px 0 0 20px;
}

aside {
    float: left;

    a.logo {
        padding: 15px;
        img {
            width: 150px;
        }
    }

    ul {    
        padding-left: 0px;
        margin-top: 10px;
        font-size: 22px;

        span {
            display: inline-block;
            height: 10px;
        }

        li {
            padding: 10px 20px;
            list-style-type:none;

            a {
                color: rgb(52,172,152);
                text-decoration: none;
                padding: 5px;
            }
        }
    }

    div {
        padding: 5px 20px;
    }

    hr {
        width: 169px;
        opacity: 0.1;
        border-style: dashed;
    }

    button {
        height: 30px;
        width: 175px;
        margin: 5px 0 30px 0;
        font-size: 13px;
        color: rgb(52,172,152);
        border: 1px solid rgb(229,229,229);
        border-radius: 5px;
        background-color: white;
        span {
            padding: 5px;
        }
    }

    p {
        padding: 10px 20px 0 20px;
        margin-bottom: 10px; 
        width: 175px;
    }

    &::after {
        content: "";
        clear: both;
    }
}

.body {
    display: inline-block;
    width: 820px;

    .title_img {
        width: 820px;
        height: 410px;
        background: url("../images/second_week/food.jpg");
        background-size: cover;

        label {
            float: right;
            position: relative;
        }
    
        .white_label {
            background-color: white;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            padding: 15px 30px;
            top: 240px;
        }

        .black_label {
            background-color: black;
            font-weight: bold;
            color: white;
            font-size: 18px;
            line-height: 18px;
            padding: 10px 30px;
            top: 290px;
            left: 202px;
        }

        .transparent_label {
            background-color: rgba(255,255,255,0.8);
            font-size: 12px;
            line-height: 25px;
            padding: 2px 15px;
            top: 330px;
            left: 190px;
        }
    }



    .thumb_through {
        height: 100px;

        div {
            background-color: rgb(239,248,247);
            color: rgb(88,188,171);
            height: 70px;
            width: 194px;
            float: left;
            padding: 30px 0 0 10px;
            border-right: solid 1px rgb(216,239,236);

            h3 {
                margin: 0;
            }
            span {
                font-size: 14px;
            }
        }
        div:nth-child(3) {
            background-color: rgb(216,239,236);
        }
        div:last-child {
            border-right: none;
            width: 195px;
        }
    }

    div.mail {
        margin: 38px 0;

        hr {
            opacity: 0.1;
            border-style: dashed;
        }

        span.icon-envelop {
            font-size: 30px;
            padding: 0 10px;
        }

        div.italic {
            font-size: 13px;
            display: inline-block;
            width: 55%;
        }

        form {
            display: inline-block;

            input {
                vertical-align: middle;
                height: 25px;
                font-size: 19px;
                position: relative;
                top: -5px;
            }

            input[type=search] {
                margin: 0 5px;
                border-style: groove;
            }
        }

        // button {
        //     position: relative;
        //     height: 25px;
        //     top: -9px;
        //     border-radius: 5px;
        //     border: 1px groove;
        //     background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0));
        //     background: -moz-linear-gradient(top, #FFFFFF, #E0E0E0);
        // }
    }

    ul {
        padding: 0;

        li {

            list-style-type:none;
            display: inline-block;
            width: 21%;
            margin: 0 17px;
            vertical-align: top;

            img {
                width: 100%;
                height: 120px;
                border: 1px solid rgb(226,226,226);
                padding: 8px;
            }

            p {
                font-size: 13px;
            }

            a {
                color: rgb(52,172,152);
                text-decoration: none;
            }

            div {
                color: rgb(167,167,167);
                a {
                    color: rgb(52,172,152);
                    font-size: 13px;
                    vertical-align: top;
                    border-bottom: 1px dashed rgb(167,167,167);
                }
            }
        }

        li:first-child {
            margin-left: 0;
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

footer {
    padding-top: 15px;
    width: 1035px;
    height: 35px;
    font-size: 12px;

    hr {
        opacity: 0.3;
        border-style: groove;
        margin: 20px 0;
    }

    .left {
        line-height: 18px;
        float: left;

        span {
            color: rgb(52,172,152);
        }

        .copyright {
            color: rgb(167,167,167);
        }
    }

    .right {
        float: right;
        font-size: 30px;
        color: rgb(153,153,153);
    }
}
