body {
    text-align: center;
    margin: 0;
    color: white;
}

header {
    background: white;
    vertical-align: middle;
}

header button {
    border: solid 1px;
    background: white;
}

header img {
    vertical-align: middle;
    height: 30px;
}

header nav {
    display:inline-block;
    padding: 10px;
    margin: 0 10px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

header nav a {
    text-decoration: none;
    padding: 0 5px;
}

section {
    /*vertical-align: middle;*/
}

footer {
    padding-top: 15px;
    height: 35px;
    background: black;
}

a {
    color: black;
}

.content {
    text-align: left;
}

#tutor {
    background-image: url('../images/house.jpeg');
    background-size: cover;
}

#tutor button {
    width: 130px;
    height: 30px;
    border: solid 0;
    color: white;
    background-color:rgba(0,152,50,0.7);
}

#mission {
    color: black;
    background: white;
}

#mission p {
    color: black;
    background: white;
    width: 65%;
    margin: 15px auto;
}

#se1 {
    background: rgb(146, 209, 177);
}

#se2 {
    background: rgb(255, 205, 99);
}

#se3 {
    background: rgb(129, 168, 205);
}

#se1 div {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

#se1 div#anchor {
    display: inline-block;
    width: 10%;
}

#se1 div#anchor a {
    text-decoration: none;
    display: block;
    border-radius: 7px;
    border: white solid 7px;
    margin: 5px;
    width: 0;
}

#se2 div {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

#se3 div {
    vertical-align: middle;
    display: inline-block;
    width: 45%;
}

#progress {
    color: black;
}


.price_block {
    padding: 30px;
    border: solid 1px gray;
    display: inline-block;
    margin: 10px;
}

.price_block div {
    margin: 10px;
    font-size: 35px;
}

.price_block p {
    margin: 10px;
}

.price_block.block1 {
    color: rgb(146, 209, 177);
}

.price_block.block2 {
    color: rgb(255, 205, 99);;
}

.price_block.block3 {
    color: rgb(129, 168, 205);
}

.first_section {
    padding-top: 100px;
    height: 200px;
}

.last_section {
    padding: 70px;
    height: 240px;
}

.middle_section {
    padding-top: 60px;
    height: 250px;
}

.small_section {
    padding-top: 50px;
    height: 200px;
}

#mission button {
    width: 130px;
    height: 30px;
    border: solid 0;
    background: orange;
}

#se1 button, #se2 button, #se3 button {
    width: 130px;
    height: 30px;
    border: solid 0;
    color: white;
    background: rgba(0,0,0,0.15);
}