@font-face {
  font-family: 'icomoon';
  src: url("./fonts_second/icomoon.eot?-k8taie");
  src: url("./fonts_second/icomoon.eot?#iefix-k8taie") format("embedded-opentype"), url("./fonts_second/icomoon.woff?-k8taie") format("woff"), url("./fonts_second/icomoon.ttf?-k8taie") format("truetype"), url("./fonts_second/icomoon.svg?-k8taie#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../sass/second_week.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/second_week.scss */
.icon-Tastemakers:before {
  content: "\e9a3";
}

/* line 31, ../sass/second_week.scss */
.icon-Blog:before {
  content: "\e91f";
}

/* line 35, ../sass/second_week.scss */
.icon-camera:before {
  content: "\e90f";
}

/* line 39, ../sass/second_week.scss */
.icon-envelop:before {
  content: "\e945";
}

/* line 43, ../sass/second_week.scss */
.icon-clipboard:before {
  content: "\e9b8";
}

/* line 47, ../sass/second_week.scss */
.icon-reddit:before {
  content: "\eac7";
}

/* line 51, ../sass/second_week.scss */
.icon-facebook:before {
  content: "\ea8c";
}

/* line 55, ../sass/second_week.scss */
.icon-twitter:before {
  content: "\ea91";
}

/* line 59, ../sass/second_week.scss */
.italic {
  font-style: italic;
}

/* line 63, ../sass/second_week.scss */
body {
  padding: 20px 0 0 20px;
}

/* line 67, ../sass/second_week.scss */
aside {
  float: left;
}
/* line 70, ../sass/second_week.scss */
aside a.logo {
  padding: 15px;
}
/* line 72, ../sass/second_week.scss */
aside a.logo img {
  width: 150px;
}
/* line 77, ../sass/second_week.scss */
aside ul {
  padding-left: 0px;
  margin-top: 10px;
  font-size: 22px;
}
/* line 82, ../sass/second_week.scss */
aside ul span {
  display: inline-block;
  height: 10px;
}
/* line 87, ../sass/second_week.scss */
aside ul li {
  padding: 10px 20px;
  list-style-type: none;
}
/* line 91, ../sass/second_week.scss */
aside ul li a {
  color: #34ac98;
  text-decoration: none;
  padding: 5px;
}
/* line 99, ../sass/second_week.scss */
aside div {
  padding: 5px 20px;
}
/* line 103, ../sass/second_week.scss */
aside hr {
  width: 169px;
  opacity: 0.1;
  border-style: dashed;
}
/* line 109, ../sass/second_week.scss */
aside button {
  height: 30px;
  width: 175px;
  margin: 5px 0 30px 0;
  font-size: 13px;
  color: #34ac98;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: white;
}
/* line 118, ../sass/second_week.scss */
aside button span {
  padding: 5px;
}
/* line 123, ../sass/second_week.scss */
aside p {
  padding: 10px 20px 0 20px;
  margin-bottom: 10px;
  width: 175px;
}
/* line 129, ../sass/second_week.scss */
aside::after {
  content: "";
  clear: both;
}

/* line 135, ../sass/second_week.scss */
.body {
  display: inline-block;
  width: 820px;
}
/* line 139, ../sass/second_week.scss */
.body .title_img {
  width: 820px;
  height: 410px;
  background: url("../images/second_week/food.jpg");
  background-size: cover;
}
/* line 145, ../sass/second_week.scss */
.body .title_img label {
  float: right;
  position: relative;
}
/* line 150, ../sass/second_week.scss */
.body .title_img .white_label {
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 30px;
  top: 240px;
}
/* line 159, ../sass/second_week.scss */
.body .title_img .black_label {
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 30px;
  top: 290px;
  left: 202px;
}
/* line 170, ../sass/second_week.scss */
.body .title_img .transparent_label {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  line-height: 25px;
  padding: 2px 15px;
  top: 330px;
  left: 190px;
}
/* line 182, ../sass/second_week.scss */
.body .thumb_through {
  height: 100px;
}
/* line 185, ../sass/second_week.scss */
.body .thumb_through div {
  background-color: #eff8f7;
  color: #58bcab;
  height: 70px;
  width: 194px;
  float: left;
  padding: 30px 0 0 10px;
  border-right: solid 1px #d8efec;
}
/* line 194, ../sass/second_week.scss */
.body .thumb_through div h3 {
  margin: 0;
}
/* line 197, ../sass/second_week.scss */
.body .thumb_through div span {
  font-size: 14px;
}
/* line 201, ../sass/second_week.scss */
.body .thumb_through div:nth-child(3) {
  background-color: #d8efec;
}
/* line 204, ../sass/second_week.scss */
.body .thumb_through div:last-child {
  border-right: none;
  width: 195px;
}
/* line 210, ../sass/second_week.scss */
.body div.mail {
  margin: 38px 0;
}
/* line 213, ../sass/second_week.scss */
.body div.mail hr {
  opacity: 0.1;
  border-style: dashed;
}
/* line 218, ../sass/second_week.scss */
.body div.mail span.icon-envelop {
  font-size: 30px;
  padding: 0 10px;
}
/* line 223, ../sass/second_week.scss */
.body div.mail div.italic {
  font-size: 13px;
  display: inline-block;
  width: 55%;
}
/* line 229, ../sass/second_week.scss */
.body div.mail form {
  display: inline-block;
}
/* line 232, ../sass/second_week.scss */
.body div.mail form input {
  vertical-align: middle;
  height: 25px;
  font-size: 19px;
  position: relative;
  top: -5px;
}
/* line 240, ../sass/second_week.scss */
.body div.mail form input[type=search] {
  margin: 0 5px;
  border-style: groove;
}
/* line 257, ../sass/second_week.scss */
.body ul {
  padding: 0;
}
/* line 260, ../sass/second_week.scss */
.body ul li {
  list-style-type: none;
  display: inline-block;
  width: 21%;
  margin: 0 17px;
  vertical-align: top;
}
/* line 268, ../sass/second_week.scss */
.body ul li img {
  width: 100%;
  height: 120px;
  border: 1px solid #e2e2e2;
  padding: 8px;
}
/* line 275, ../sass/second_week.scss */
.body ul li p {
  font-size: 13px;
}
/* line 279, ../sass/second_week.scss */
.body ul li a {
  color: #34ac98;
  text-decoration: none;
}
/* line 284, ../sass/second_week.scss */
.body ul li div {
  color: #a7a7a7;
}
/* line 286, ../sass/second_week.scss */
.body ul li div a {
  color: #34ac98;
  font-size: 13px;
  vertical-align: top;
  border-bottom: 1px dashed #a7a7a7;
}
/* line 295, ../sass/second_week.scss */
.body ul li:first-child {
  margin-left: 0;
}
/* line 299, ../sass/second_week.scss */
.body ul li:last-child {
  margin-right: 0;
}

/* line 305, ../sass/second_week.scss */
footer {
  padding-top: 15px;
  width: 1035px;
  height: 35px;
  font-size: 12px;
}
/* line 311, ../sass/second_week.scss */
footer hr {
  opacity: 0.3;
  border-style: groove;
  margin: 20px 0;
}
/* line 317, ../sass/second_week.scss */
footer .left {
  line-height: 18px;
  float: left;
}
/* line 321, ../sass/second_week.scss */
footer .left span {
  color: #34ac98;
}
/* line 325, ../sass/second_week.scss */
footer .left .copyright {
  color: #a7a7a7;
}
/* line 330, ../sass/second_week.scss */
footer .right {
  float: right;
  font-size: 30px;
  color: #999999;
}
